name: Build Unicorn APK
on:
  push:
    branches: [ main, master ]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Code
        uses: actions/checkout@v4

      - name: Setup Node.js
        uses: actions/setup-node@v4
        with:
          node-version: 18

      - name: Install Dependencies
        run: npm install

      - name: Build Next.js Web
        run: npm run build

      - name: Setup Java
        uses: actions/setup-java@v4
        with:
          distribution: 'zulu'
          java-version: '17'

      - name: Build Android APK
        run: |
          npx cap sync
          cd android
          chmod +x gradlew
          ./gradlew assembleDebug

      - name: Upload Artifact
        uses: actions/upload-artifact@v4 # MUHIM: v3 dan v4 ga o'zgartirildi
        with:
          name: KidUply-Final-Build
          path: android/app/build/outputs/apk/debug/app-debug.apk
